#parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  margin-top: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}
.row {
  display: flex;
  gap: 0.4rem;
}
#answer {
  color: #ccc;
}
